.blockElement {
  width: 200px;
  height: 100px;
  position: absolute;
  display: block;
  cursor: pointer;
}

#brick-pile {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 200;
  background-image: url('../graphics/brickbrown.png');
  background-repeat: repeat;
}

#pipe-stack {
  position: absolute;
}

#trash {
  width: 50px;
  height: 50px;
  background-image: url('../graphics/trash.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
}

#levelmap {
  position: absolute;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  z-index: 0;
}

form {
  position: absolute;
}

form#levelexport {
  left: 300px;
}

form#create-form {
  left: 100px;
}